table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }
  table {
    width:75%;

    /* weboldal szélessége */

    background-color: green;
    color: white; /* betüszín */
    font-family: 'Courier New', Courier, monospace; /* betütípus */
    font-size: 25px;
  }

  th {
    background-color: rgb(31, 31, 126);
  }

  #keses{
    background-color: red;
  }
  .paratlan_sor{
    background-color: rgb(44, 87, 44);
  }

  body{
    background-color: rgb(0, 0, 0);
  }

  tr :hover {
    background-color: rgb(31, 10, 30);
  }

  th :hover {
    background-color: rgb(31, 10, 30);
  }

